# ไฟล์ขยะและไฟล์ระบบ
__pycache__/
*.pyc
staticfiles/

# โฟลเดอร์จำลอง (ถ้าคุณตั้งชื่ออื่นให้เปลี่ยนตามชื่อโฟลเดอร์จำลองของคุณ)
venv/
env/

# ไฟล์ฐานข้อมูล Local (เราจะไม่เอาขึ้นไป เพราะบน Render จะสร้างใหม่)
db.sqlite3

# ไฟล์ตั้งค่าความลับ
.env